.nyc_output
.stryker-tmp
coverage
node_modules
reports

index.js.map
index.js
index.d.ts
run.js.map
run.js
run.d.ts
src/*.js.map
src/*.js
src/*.d.ts
test/*.js.map
test/*.js
test/*.d.ts

package-lock.json
